

<%= render 'common/customerdsh'%>
<%if params[:s_username].present? %>
 
 <div class="container">
    <h1>Mobile Request</h1>
    <div class="mobile-details">
      <table>
      <thead>
        <tr>
          <th>Order_Id</th>
          <th>Customer_name</th>
          <th>PhoneNumber</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Problem</th>
          <th>ProblemDescription</th>
           <th>UpdateStatus</th>
        </tr>
        </thead>
        <tbody>
         <%@orderdetails.each do |recorde|%>
                  
        <tr>
        <td><%= recorde.orders[0].id%></td>
        <td><%= "#{recorde.firstname} #{recorde.lastname}"%></td>
        <td><%= recorde.phonenumber%></td>
        <td><%= recorde.model%></td>
        <td><%= recorde.brand%></td>   
        <td><%= recorde.p_name%></td>
        <td><%= recorde.description%></td>
        <td style="display:flex; column-gap:5px;">
        <span> 
          <%= form_tag(statusupdate_path(params[:username], params[:s_username],recorde.orders[0].id)) do %>
                 <%= hidden_field_tag :status, "accept" %>
                <%= button_tag 'Accept' %>
                 <% end %>

        </span>
        <span>
        <%= button_to 'Reject'%>
        </span>
        </td>
        </tr>
         <%end%>
        </tbody>
      </table>
    </div>
    </div>
   <%end%> 