<!-- app/views/profiles/new.html.erb -->
<h1>New Profile</h1>

<h1 style="color:red;"><%= flash[:error]%></h1>

<div class="main">
<%= form_with(model: @profile,url: profiles_path ,class: "form-container") do |form| %>
<div class="form-container">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-input" %>
  </div>
  <div class="form-container">
    <%= form.label :firstname, class: "form-label" %>
    <%= form.text_field :firstname, class: "form-input" %>
  </div>

  <div class="form-container">
    <%= form.label :lastname, class: "form-label" %>
    <%= form.text_field :lastname, class: "form-input" %>
  </div>
<div class="form-container">
    <%= form.label :Profile, class: "form-label" %>
    <%= form.file_field :image, class: "form-select" %>
  </div>
 

  <div class="form-container">
    <%= form.label :userprofile, class: "form-label" %>
    <%= form.select :user, options_for_select(['admin', 'customer']), 
    { prompt: 'Select User Type' }, class: "form-select" %>
  </div>
<div class="form-container">
  <%= form.label :state, class: "form-label" %>
  <%= form.select :state, options_for_select(@state.map { |single| single["state_name"] }), 
  { prompt: 'Select State' }, class: "form-select", id: "state-select" %>
</div>
 <div class="form-container">
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-input" %>
  </div>



  <div class="form-container" id="district-container" >
  <%= form.label :district, class: "form-label" %>
  <%= form.select :city, options_for_select([]), { prompt: 'Select District' }, class: "form-select", id: "district-select" %>
</div>

  <div class="form-container">
    <%= form.label :dob, class: "form-label" %>
    <%= form.date_field :dob, class: "form-input" %>
  </div>

  <div class="form-container">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-input" %>
  </div>

<div class="form-container">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-input" %>
    </div>
  <div class="form-container">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, class: "form-input", rows: 4 %>
  </div>
 <div class="form-container">
    <%= form.label :Phone_Number, class: "form-label" %>
    <%= form.text_area :phonenumber, class: "form-input", rows: 4 %>
  </div>
<div class="form-container">
    <%= form.submit "Create Profile", class: "form-submit"%>
  </div>

  <!-- ... (rest of the form) ... -->
  <%# :password_confirmation %>

<% end %>


<%# <script>
document.addEventListener('DOMContentLoaded', function() {
    const stateSelect = document.getElementById('state-select');
    const districtContainer = document.getElementById('district-container');
    const districtSelect = document.getElementById('district-select');

    stateSelect.addEventListener('change', function() {
      console.log("Hariom")
      const selectedStateId = stateSelect.value;
      console.log( selectedStateId)
      fetch(`https://cdn-api.co-vin.in/api/v2/admin/location/districts/${selectedStateId}`)
        .then(response => response.json())
        .then(data => {
          const districts = data.districts;
          districtSelect.innerHTML = ''; // Clear previous options
          districts.forEach(district => {
            const option = document.createElement('option');
            option.value = district.district_id;
            option.textContent = district.district_name;
            districtSelect.appendChild(option);
          });
        // Show district select input
        })
        .catch(error => {
          console.error('Error fetching districts:', error);
        });
    })});

</script> %>
</div>


