<%@profile=Profile.find_by(username: params[:username])%>
<nav class="navbar">
  <ul>
    <%= session[:username]%>
    <% if @profile.user == 'customer' && session[:s_username].nil?%>
    <li class="profile-picture"><%= image_tag(@profile.image) if @profile.image.present? %></li>
    <li><%= link_to 'Home' , root_path%></li>
      <li><%= link_to 'Add Mobile', new_mobile_path(session[:username]) %></li>
      <li><%= link_to 'Update Mobile' %></li>
      <li><%= link_to 'Tracking' %></li>
      <li><%= link_to 'Show Mobile', mobiles_path(session[:username])%></li>
      <li><%= link_to 'Change Password' %></li>
    <li><%= link_to 'Logout', logout_path %></li>
    <% elsif @profile.user=='Retailer' && session[:s_username].nil? %>
    <li class="profile-picture"><%= image_tag(@profile.image) if @profile.image.present? %></li>
       <li><%= link_to 'Home' , root_path%></li>
      <li><%= link_to 'Add Shop', new_shop_path(params[:username]) %></li>
      <li><%= link_to 'Update Shop' %></li>
      <li><%= link_to 'Delete Shop' %></li>
      <li><%= link_to 'Completed'%></li>
      <li><%= link_to 'Change Profile' %></li>
      <li><%= link_to 'LoginShop',loginshop_path(params[:username])%></li>
      <li><%= link_to 'Change Password' %></li>
      <li><%= link_to 'Logout', logout_path %></li>
      <%else%>
      <li><%= link_to 'Show Request' %></li>
      <li><%= link_to 'ReapairMen'%></li>
      <li><%= link_to 'AssignMobile_to'%><li>
      <li><%= link_to 'Pending Mobile'%></li>
      <li><%= link_to 'Complete Mobile'%></li>
      <li><%= link_to 'Generate Bill'%><li>
      <li><%= link_to 'logoutshop',logout_path%></li>
    <% end %>
    
  </ul>
</nav>